<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advanced</title>
</head>
<body> 
        <div class="box">
            <h1>THÂN TRÊN</h1>
            <div class="content">
                <span id="ex_name">Tên bài tập</span>
                <h3>Link video hướng dẫn tập</h3>
                <h3 id="video">(link)</h3>
            </div>
        </div>
        <div class="box">
            <h1>THÂN DƯỚI</h1>
            <div class="content">
                <span id="ex_name">Tên bài tập</span>
                <h3>Link video hướng dẫn tập</h3>
                <h3 id="video">(link)</h3>
            </div>
    </div>

        <div class="box">
            <h1>BỤNG</h1>
            <div class="content">
                <span id="ex_name">Tên bài tập</span>
                <h3>Link video hướng dẫn tập</h3>
                <h3 id="video">(link)</h3>
            </div>
    </div>

    
</body>
</html>